.paralax01 {
  background-image: url("/public/imagens/carrossel01.png");
  height: 100vh !important;
  width: 100vh;
  background-position: 50% 1%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
