.paralax01 {
  background-image: url("../../../public/karen.png");
  height: 100vh !important;
  width: 100vh;
  background-position: 50% 1%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

li:hover {
  transform: scale(1.5);
  transition: 0.2s;
  cursor: pointer;
}
